<p class="text-lg font-semibold text-gray-700">Ol치 <span class="text-blue-500"><%= @email %></span>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p class="mt-4 text-gray-600">Estamos entrando em contato para notific치-lo de que seu e-mail est치 sendo alterado para <span class="text-blue-500"><%= @resource.unconfirmed_email %></span>.</p>
<% else %>
  <p class="mt-4 text-gray-600">Estamos entrando em contato para notific치-lo de que seu e-mail foi alterado para <span class="text-blue-500"><%= @resource.email %></span>.</p>
<% end %>
