<p class="text-xl font-semibold text-gray-700">Olá <span class="text-blue-500"><%= @resource.email %></span>!</p>

<p class="mt-4 text-gray-600">Estamos entrando em contato para notificá-lo de que sua senha foi alterada.</p>
