<p class="text-xl font-semibold text-gray-700">Olá <span class="text-blue-500"><%= @resource.email %></span>!</p>

<p class="mt-4 text-gray-600">Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>

<p class="mt-2">
  <%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token), class: 'text-blue-500 hover:text-blue-700' %>
</p>

<p class="mt-4 text-gray-600">Se você não solicitou isso, ignore este e-mail.</p>
<p class="text-gray-600">Sua senha não mudará até que você acesse o link acima e crie uma nova.</p>
